h1 {
  text-align: center;
  color: red;
}
button {
  text-align: center;
}
h1 + button {
  background-color: antiquewhite;
  color: black;
}
h1 + button :hover {
  background-color: red;
}
button + button {
  background-color: aliceblue;
}
button + button:hover {
  background-color: green;
}
