h2 {
  color: saddlebrown;
}
h1 span {
  color: saddlebrown;
}
#pets {
  display: flex;
  justify-content: space-evenly;
}
.card {
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px;
  width: 400px;
  padding: 5px;
  overflow: hidden;
}
img {
  width: 100%;
  border-radius: 25px;
}
