#outer {
  height: 50px;
  width: 900px;
  border-radius: 10px;
  background-color: pink;
  border: 2px solid skyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#outer div {
  height: 50px;
  width: 80px;
  color: black;
  font-size: 24px;
}
